# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Python
__pycache__/
*.py[cod]
*.so
*.pyo

# Virtual environments
venv/
env/
.venv/
.env/
*.env

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media files (if locally generated)
media/
staticfiles/
static_root/
static/

# VS Code settings
.vscode/

# Mac and Linux junk files
.DS_Store
Thumbs.db

# Pytest and coverage
.coverage
htmlcov/
.cache/
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# AWS / credentials
*.pem
.env.*
secrets.json

# Build
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebooks
.ipynb_checkpoints/

# Render deploy
render.yaml
